.widjet {
  border: 1px solid #000;
  padding: 10px;
  height: 90%;
  max-width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .display {
    height: 95%;

    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
