.widjet {
  padding: 10px;
  height: 90%;
  max-width: 80%;
  min-width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background-color: #1c1e22;

  .display {
    height: 95%;
    width: 100%;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
}
