.card {
  border: 1px solid #000;
  padding: 10px;

  position: relative;

  .numberPage {
    position: absolute;
    top: 8px;
    right: 10px;
  }
  .card__item {
    display: flex;
    justify-content: space-between;
  }
}
