@media (orientation: portrait) {
  .widjet {
    width: 100%;
    max-width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;

    .display {
      height: 100%;

      .card {
        max-height: 96%;
        min-width: fit-content;

        overflow-x: scroll;
      }
    }

    input[type="text"],
    input[type="button"] {
      font-size: inherit;
    }
  }
}
